USE [master]
GO
/****** Object:  Database [FirstDB]    Script Date: 18-09-2025 18:41:53 ******/
CREATE DATABASE [FirstDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FirstDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.RANASQL\MSSQL\DATA\FirstDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FirstDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.RANASQL\MSSQL\DATA\FirstDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FirstDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FirstDB]
GO
USE [FirstDB]
GO
/****** Object:  Table [dbo].[person]    Script Date: 18-09-2025 18:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[LName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
