USE [master]
GO
/****** Object:  Database [LoginRegistrationInMVC]    Script Date: 7/17/2019 9:31:28 PM ******/
CREATE DATABASE [LoginRegistrationInMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginRegistrationInMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LoginRegistrationInMVC.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LoginRegistrationInMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LoginRegistrationInMVC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginRegistrationInMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginRegistrationInMVC]
GO
/****** Object:  Table [dbo].[RegisterUser]    Script Date: 7/17/2019 9:31:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[ResetPasswordCode] [varchar](500) NULL,
 CONSTRAINT [PK_RegisterUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RegisterUser] ON 

INSERT [dbo].[RegisterUser] ([Id], [FirstName], [LastName], [Email], [Password], [ResetPasswordCode]) VALUES (1, N'Test', N'Lastname', N'test@test.com', N'Test123', NULL)
SET IDENTITY_INSERT [dbo].[RegisterUser] OFF
USE [master]
GO
